body {
    font-family: 'Poppins', sans-serif;
    background: #f2f4f8;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* biar gak geser ke samping */
}

.container {
    width: 80%;
    margin: 40px auto;
    background: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    /* kalau isi melebar */
}

h2 {
    display: inline;
    margin: 0;
    font-size: 28px;
    color: #333;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2px;
    flex-wrap: wrap;
}



table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 15px;
    overflow-x: auto;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 3px;
}

.action-btn img {
    width: 18px;
}

.no {
    text-align: center;
    color: #666;
}

/* POPUP */
.popup-bg {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6); /*ini untuk bayangan jika kita tekan popup */ 
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup-box {
    background: #f9f9f9;
    border-radius: 12px;
    padding: 25px;
    width: 360px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
    text-align: center;
}

.popup-box h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #333;
}

.popup-box input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.popup-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.popup-small {
    width: 300px;
    text-align: center;
}

.icon-question {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

/* ANIMASI */
@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* PROFILE POPUP */
.popup-profile .popup-box {
    width: 310px;
    padding: 30px;
}

.profile-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.photo-wrapper {
    position: relative;
    display: inline-block;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.edit-photo-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    border: none;
    height: 45px;
    border-radius: 50% !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.edit-photo-btn svg {
    font-size: 22px;
    transform: translateY(2px);
    transition: transform 0.2s ease;
}

.edit-photo-btn:hover svg {
    transform: translateY(2px) scale(1.1);
}

.profile-info {
    text-align: center;
}

.profile-name {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.profile-role {
    font-size: 15px;
    color: #666;
    background: #f0f0f0;
    display: inline-block;
    padding: 5px 18px;
    border-radius: 15px;
    font-weight: 500;
}

input[type="file"] {
    display: none;
}


@media screen and (max-width: 1024px) and (min-width: 993px) {
    .container {
        width: 85%;
        padding: 25px;
    }

    h2 {
        font-size: 26px;
    }

    .top-bar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }


    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 15px;
    }

    thead,
    tbody {
        width: 100%;
    }

    th,
    td {
        padding: 12px;
        text-align: left;
    }

    th {
        font-size: 16px;
    }

    td {
        font-size: 15px;
    }
}
