body {
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 280px;
  height: 100vh;
  background-color: #fff;
  padding: 25px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
}

.brand-section {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 35px;
}

.brand-section img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  
}

.brand-text .brand {
  font-size: 1.25rem;
  font-weight: 600;
  color: #444;
  margin: 0;
}

.brand-text .role {
  font-size: 0.9rem;
  color: #888;
  margin: 0;
}

.sidebar .nav-link {
  color: #555;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: rgba(68, 112, 111, 0.15);
  color: #f4b942;
}

.sidebar .logout {
  position: absolute;
  bottom: 30px;
  width: 230px;
}

    .logout {
        margin-top: -10px;
    }

    .logout a {
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: 500;
        color: #6c757d; /* abu2 */
        display: inline-flex;
        align-items: center;
        gap: 6px;
        text-decoration: none;
    }

    .logout a:hover {
        color: #dc3545; /* merah saat hover */
    }